	<div class="container">
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!-- SerpentCS Logo -->
		<div class="row">
			<div class="col-md-12 mt32 mb32">
				<a class="float-right" href="https://www.serpentcs.com" target="_blank">
					<img src="header-logo.png" alt="SerpentCS Logo"/>
				</a>
			</div>
		</div>
		<!-- Heading and Available Version links New SCS-->
		<section class="oe_container">
			<div class="row o_equal_col_sm position-relative overflow-hidden shadow"
				 style="margin:0 auto;background-color: #C3282D;padding-bottom:0;border-radius:10px;">
				<div class="container fixed-bottom position-relative"
					 style="display:block;margin:0 auto;text-align:center;color:#fff">
					<div class="row">
						<div class="col-lg-12 align-items-top d-inline-flex align-items-top px-5 mt64 mb32">
							<div class="text-left">
								<h2 style="letter-spacing:2px;font-weight:900;color:#fff;text-transform:uppercase;font-family:'Montserrat', sans-serif">
									Web Auto Refresh and Reload
								</h2>
								<span class="o_gradient"
									  style="width:150px;height:1px;background-color:#ffffff!important;display:inline-block;border-radius:2px;"></span>
								<p style="font-weight:normal;color:#fff;font-size:16px;margin-top:24px;font-family:'Montserrat', sans-serif;">
									This module provides web auto refresh and reload functionality, which can be used to trigger 
									a view reload at a given interval (milliseconds) without refreshing the browser. 
								</p>
								<p style="font-weight:normal;color:#fff;font-size:16px;margin-top:24px;font-family:'Montserrat', sans-serif;">
									<b>Note:-</b> This module will reload the page generically, so it is compatible with all Odoo modules.
								</p>
								<div class="mt16 mb16">
									<ul class="navbar-nav flex-row ml-md-auto"
										style="color:#ffffff;font-size:16px;font-weight:bold;font-family:'Montserrat', sans-serif;">
										<li class="nav-item">
											<a class="nav-link p-2"
											   href="https://apps.odoo.com/apps/modules/14.0/web_auto_reload/"
											   target="_blank" aria-label="14.0" style="color:#fff;">
												V 14.0
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link p-2"
											   href="https://apps.odoo.com/apps/modules/13.0/web_auto_reload/"
											   target="_blank" aria-label="13.0" style="color:#fff;">
												V 13.0
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link p-2"
											   href="https://apps.odoo.com/apps/modules/12.0/web_auto_reload/"
											   target="_blank" aria-label="12.0" style="color: #fff;">
												V 12.0
											</a>
										</li>
										 <li class="nav-item">
											<a class="nav-link p-2"
											   href="https://apps.odoo.com/apps/modules/11.0/web_auto_reload/"
											   target="_blank" aria-label="11.0" style="color: #fff;">
												V 11.0
											</a>
										</li>
										 <li class="nav-item">
											<a class="nav-link p-2"
											   href="https://apps.odoo.com/apps/modules/10.0/web_auto_reload/"
											   target="_blank" aria-label="10.0" style="color: #fff;">
												V 10.0
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Key Features and You tube video link -->
		<section class="oe_container">
			<div class="row o_equal_col_sm position-relative overflow-hidden" style="margin:0 auto;padding-bottom:0;">
				<div class="container fixed-bottom position-relative"
					 style="display:block;margin:0 auto;text-align:center;">
					<div class="row">
						<div class="col-lg-12 align-items-top d-inline-flex align-items-top px-5 mt64 mb32">
							<div class="text-left" style="width:100%;">
								<h2 style="letter-spacing:2px;font-weight:900;color:#000;text-transform:uppercase;font-family:'Montserrat', sans-serif">
									Watch Video</h2>
								<span class="o_gradient"
									  style="width:150px;height:2px;background-image:linear-gradient(90deg, #e52d27 20%, #b31217 80%)!important;display:inline-block;border-radius:2px;"></span>
								<div class="row">
									<div class="mt16 mb16 text-center s_panel_video" data-video-id="WoaQILuwxwU"
										 style="cursor:pointer;">
										<img class="img-fluid s_tooltip_tabs_tooltip_image s_figure_link pb0"
											 src="web-auto-reload-youtube-index-thumb.png" alt="Web Auto Refresh and Reload"
											 style="max-width:60%;">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	   
		
		<!-- App Featured Screenshots -->
		<section class="oe_container mt32">
			<div class="row o_equal_col_sm position-relative overflow-hidden" style="margin:0 auto;padding-bottom:0;">
				<div class="container fixed-bottom position-relative mt8" style="display:block;margin:0 auto;">
					<div class="row">
						<div class="col-lg-12 align-items-top d-inline-flex align-items-top px-5">
							<div class="text-left" style="width:100%;">
								<h2 style="letter-spacing:2px;font-weight:900;color:#000;text-transform:uppercase;font-family:'Montserrat', sans-serif">
									Featured Screenshots
								</h2>
								<span class="o_gradient"
									  style="width:150px;height:2px;background-image:linear-gradient(90deg, #e52d27 20%, #b31217 80%)!important;display:inline-block;border-radius:2px;">
								</span>
							</div>
						</div>
						<div class="container px-5">
							<div class="container position-relative">
								<div class="row bg-white">
									<div class="col-md-12 p-0 overflow-hidden">
										<div>
											<div id="carousel_bridges" class="carousel slide oe_spaced"
												 data-ride="carousel">
												<div class="carousel-inner">
													<!-- Carousel Item 1 -->
													<div class="carousel-item active" style="min-height:190.4px;">
														<!-- Must set active class in first slide -->
														<div class="row justify-content-center">
															<div class="col-auto px-5">
																<div class="mt16 mb16">
																	<img src="web_auto_1.png"
																		 class="img img-responsive center-block shadow"
																		 alt="Web Auto Refresh and Reload"
																		 style="max-width:95%;display:block;margin:auto;border:10px solid #dee2e6;border-radius:10px;">
																</div>
																<div class="col-md-12 mt16 mb16">
																	<h3 class="text-left ml8"
																		style="font-family:'Montserrat', sans-serif;font-weight:900;font-size:20px;color:#091E42;">
																		How To Set Interval(milliseconds):
																	</h3>
																	<ul class="mb32"
																	style="font-family:'Montserrat', sans-serif;color:#000;width:90%;font-size:16px;">
																	<li class="mb8">
																		Go to Edit actions, which is available in developer mode, allows us to change the interval 
																		between auto refreshes. This applies to kanban and list views.
																	</li>
																</ul>
																</div>
															</div>
														</div>
													</div>
													<!-- Carousel Item 2 -->
													<div class="carousel-item" style="min-height:190.4px;">
														<div class="row justify-content-center">
															<div class="col-auto px-5">
																<div class="mt16 mb16">
																	<img src="web_auto_2.png"
																		 class="img img-responsive center-block shadow"
																		 alt="Web Auto Refresh and Reload"
																		 style="max-width:95%;display:block;margin:auto;border:10px solid #dee2e6;border-radius:10px;">
																</div>
																<div class="col-md-12 mt16 mb16">
																	<h3 class="text-left ml8"
																		style="font-family:'Montserrat', sans-serif;font-weight:900;font-size:20px;color:#091E42;">
																	</h3>
																</div>
															</div>
														</div>
													</div>
													<!-- Carousel Item 3 -->
													<div class="carousel-item" style="min-height:190.4px;">
														<div class="row justify-content-center">
															<div class="col-auto px-5">
																<div class="mt16 mb16">
																	<img src="web_auto_3.png"
																		 class="img img-responsive center-block shadow"
																		 alt="Web Auto Refresh and Reload"
																		 style="max-width:95%;display:block;margin:auto;border:10px solid #dee2e6;border-radius:10px;">
																</div>
																<div class="col-md-12 mt16 mb16">
																	<h3 class="text-left ml8"
																		style="font-family:'Montserrat', sans-serif;font-weight:900;font-size:20px;color:#091E42;">
																		How To Use In Code:
																	</h3>
																</div>
																<ul class="mb32"
																	style="font-family:'Montserrat', sans-serif;color:#000;font-size:16px;width:90%;text-align:justify">
																	According to the above screenshot, this module mainly provides us with a very useful feature that allows 
																	us to set an auto reload value in milliseconds in the action code and the web page will be refreshed based on that value.
																</ul>
															</div>
														</div>
													</div>
													<!-- Carousel Item 4 -->
													<div class="carousel-item" style="min-height:190.4px;">
														<div class="row justify-content-center">
															<div class="col-auto px-5">
																<div class="mt16 mb16">
																	<img src="web_auto_4.png"
																		 class="img img-responsive center-block shadow"
																		 alt="Web Auto Refresh and Reload"
																		 style="max-width:95%;display:block;margin:auto;border:10px solid #dee2e6;border-radius:10px;">
																</div>
																<div class="col-md-12 mt16 mb16">
																	<h3 class="text-left ml8"
																		style="font-size:20px;font-family:'Montserrat', sans-serif;font-weight:900;color:#091E42;">
																	</h3>
																</div>
																<ul class="mb32"
																	style="font-family:'Montserrat', sans-serif;color:#000;font-size:16px;width:90%;text-align:justify">
																	<li class="mb8">
																		As you can see in the above screenshot, the product name needs to update.
																	</li>
																</ul>
															  </div> 
														</div>
													</div>
													<!-- Carousel Item 5 -->
													<div class="carousel-item" style="min-height:190.4px;">
														<div class="row justify-content-center">
															<div class="col-auto px-5">
																<div class="mt16 mb16">
																	<img src="web_auto_5.png"
																		 class="img img-responsive center-block shadow"
																		 alt="Web Auto Refresh and Reload"
																		 style="max-width:95%;display:block;margin:auto;border:10px solid #dee2e6;border-radius:10px;">
																</div>
																<ul class="mb32"
																	style="font-family:'Montserrat', sans-serif;color:#000;font-size:16px;width:90%;text-align:justify">
																	<li class="mb8">
																		In 5 seconds, the product name will be automatically reloaded and updated.
															</div>
														</div>
													</div>
												</div>
											</div>
												<!-- Carousel Control left, right button -->
												<a class="carousel-control-prev" href="#carousel_bridges" role="button"
												   data-slide="prev"
												   style="justify-content:flex-start;-webkit-justify-content:flex-start;width:8%;">
													<span>
														<img class="img" src="arrow_img-left.png" alt="arrow-left"/>
													</span>
												</a>
												<a class="carousel-control-next" href="#carousel_bridges" role="button"
												   data-slide="next"
												   style="justify-content: flex-end;-webkit-justify-content:flex-end;right:15px;width:8%;">
													<span>
														<img class="img" src="arrow_img-right.png" alt="arrow-right"/>
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	   <!-- Suggested Apps -->
		<section class="oe_container mt32 mb64">

			<div class="row o_equal_col_sm position-relative overflow-hidden" style="margin:0 auto;padding-bottom:0;">
				<!--<img src="div-bg.png" class="img position-absolute w-100 h-100 bg-none" alt="background image">-->
				<div class="container fixed-bottom position-relative" style="display:block;margin:0 auto;">
					<div class="row mt32 mb32">
						<div class="col-lg-12 align-items-top d-inline-flex align-items-top px-5">
							<div class="text-left" style="width:100%;color:#f8f8f8;">
								<h2 style="letter-spacing:2px;font-weight:900;color:#000;text-transform:uppercase;font-family:'Montserrat', sans-serif">
									Suggested Apps
								</h2>
								<span class="o_gradient"
									  style="width:150px;height:2px;background-image:linear-gradient(90deg, #e52d27 20%, #b31217 80%)!important;display:inline-block;border-radius:2px;"></span>
							</div>
						</div>
						<div class="container mb32">
							<div class=" position-relative">
								<div class="row">
									<div class="col-md-12   overflow-hidden">
										<div>
											<div id="carousel_suggested" class="carousel slide oe_spaced"
												 data-ride="carousel">
												<div class="carousel-inner">

													<!-- Carousel Item 1 -->
													<div class="carousel-item active" style="min-height:190.4px;">
														<div class="row justify-content-center">
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold;font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/odoo_office365_calendar/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/calendar-icon.png"
																				 alt="Odoo Office365 Calendar Integration"/>
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>Odoo Office365<br>Calendar<br>Integration</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold; font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/odoo_office365_contacts/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/contacts-icon.png"
																				 alt="Odoo Office365 Contacts Integration">
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>Odoo Office365<br>Contacts<br>Integration</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold; font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/odoo_microsoft_account/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/Microsoft-Azure-icon.png"
																				 alt="Microsoft Azure SSO Integration">
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>Microsoft Azure<br>SSO Integration</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold; font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/hr_attendances_overtime/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/HR-Attendance-OverTime-Icon.png"
																				 alt="HR Attendance OverTime">
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>HR Attendance<br>OverTime</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>

													<!-- Carousel Item 2 -->
													<div class="carousel-item" style="min-height:190.4px;">
														<div class="row justify-content-center">
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold;font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/ringcentral/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/Ringcentral-icon.png"
																				 alt="Odoo RingCentral Integration"/>
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>Odoo<br>RingCentral<br>Integration</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold; font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/popup_reminder/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/popup-icon.png" alt="Pop-up Reminder">
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>Pop-up<br>Reminder</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold; font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/sale_dost/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/Delivery-Order-Signed-Tracked-icon.png"
																				 alt="DOST-Delivery Order Signed and Tracked">
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>DOST-Delivery<br>Order Signed<br>and Tracked</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold; font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/user_mailbox/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/User-mailbox-icon.png"
																				 alt="User Mailbox">
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>User Mailbox</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>

													<!-- Carousel Item 3 -->
													<div class="carousel-item" style="min-height:190.4px;">
														<div class="row justify-content-center">
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold;font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/scs_currency_revaluation/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/multi-currency-icon.png"
																				 alt="Multi Currency RE-Evaluation Unrealized Gain Loss">
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>Multi Currency<br>RE-Evaluation<br>Unrealized<br>Gain Loss</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
															<div class="col-auto">
																<div class="d-flex flex-column" style="width:max-content">
																	<h3 class="mt16"
																		style="font-weight: bold; font-family:'Montserrat', sans-serif">
																		<a style="color:#000;"
																		   href="https://apps.odoo.com/apps/modules/14.0/web_email/"
																		   target="_blank"
																		   style="font-family:'Montserrat', sans-serif;">
																			<img class="img m-auto shadow"
																				 style="width:120px;font-size:16px"
																				 src="images/Odoo-as-Inbox-icon.png"
																				 alt="Odoo as Inbox Email Interface">
																			<div class="text-center mt-4"
																				 style="font-size:16px;">
																				<b>Odoo as<br>Inbox Email<br>Interfaces</b>
																			</div>
																		</a>
																	</h3>
																</div>
															</div>
														</div>
													</div>

												</div>
												<!-- Carousel Control left, right button -->
												<a class="carousel-control-prev" href="#carousel_suggested" role="button"
												   data-slide="prev"
												   style="justify-content:flex-start;-webkit-justify-content:flex-start;width:8%;">
																							<span>
																								<img class="img"
																									 src="arrow_img-left.png"
																									 alt="arrow-left"/>
																							</span>
												</a>
												<a class="carousel-control-next" href="#carousel_suggested" role="button"
												   data-slide="next"
												   style="justify-content:flex-end;-webkit-justify-content:flex-end;width:8%;">
																							<span>
																								<img class="img"
																									 src="arrow_img-right.png"
																									 alt="arrow-right"/>
																							</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Business Solutions -->
		<section class="oe_container mt32 mb64">
			<div class="row o_equal_col_sm position-relative overflow-hidden" style="margin:0 auto;padding-bottom:0;">
				<div class="container fixed-bottom position-relative"
					 style="display:block;margin:0 auto;text-align:center;">
					<div class="row">
						<div class="col-lg-12 align-items-top d-inline-flex align-items-top">
							<div class="text-left" style="width:100%;">
								<h2 style="letter-spacing:2px;font-weight:900;color:#000;text-transform:uppercase;font-family:'Montserrat', sans-serif">
									Business Solutions
								</h2>
								<span class="o_gradient"
									  style="width: 150px;height:2px;background-image: linear-gradient(90deg, #e52d27 20%, #b31217 80%) !important; display: inline-block;border-radius: 2px;"></span>
								<div class="row">
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/13.0/school/" target="_blank"
											   style="font-family:'Montserrat', sans-serif;">
												<img src="images/education.png" alt="Education" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight: bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Education Management
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/12.0/property/#resetCollapse"
											   target="_blank" style="font-family:'Montserrat', sans-serif;">
												<img src="images/property.png" alt="Property" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Property Management
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/browse?search=Singapore"
											   target="_blank" style="font-family:'Montserrat', sans-serif;">
												<img src="images/singapore.png" alt="Singapore" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Singapore Localization
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/13.0/gym_management_system/"
											   target="_blank" style="font-family:'Montserrat', sans-serif;">
												<img src="images/gym.png" alt="Gym" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Gym Management
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/13.0/servisa/" target="_blank"
											   style="font-family:'Montserrat', sans-serif;">
												<img src="images/visa.png" alt="Visa" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Visa Management
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://www.youtube.com/watch?v=eTETD5lma3w&t=97s" target="_blank"
											   style="font-family:'Montserrat', sans-serif;">
												<img src="images/biometrics.png" alt="Biometrics" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Biometrics
												</h3>
											</a>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://www.youtube.com/watch?v=VQK8v-FAHRU&list=PL4Wugt3LKrSTjlgmyiwEDdkSGyb008QNX&index=2"
											   target="_blank" style="font-family:'Montserrat', sans-serif;">
												<img src="images/FSM.png" alt="FSM" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Field Serviceman Mangement
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/12.0/scs_hr_interview/"
											   target="_blank" style="font-family:'Montserrat', sans-serif;">
												<img src="images/HRMS.png" alt="HR" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													HR Management
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/13.0/spa_salon_portal/"
											   target="_blank" style="font-family:'Montserrat', sans-serif;">
												<img src="images/spa-salon.png" alt="Spa Salon" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Salon and Spa Management
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/13.0/fleet_operations/"
											   target="_blank" style="font-family:'Montserrat', sans-serif;">
												<img src="images/fleet.png" alt="Fleet" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Fleet Management
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/13.0/hotel/" target="_blank"
											   style="font-family:'Montserrat', sans-serif;">
												<img src="images/hotel.png" alt="Hotel" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Hotel Management
												</h3>
											</a>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<a href="https://apps.odoo.com/apps/modules/13.0/ringcentral/" target="_blank"
											   style="font-family:'Montserrat', sans-serif;">
												<img src="images/ring.png" alt="Ring Central" width="120" height="120"/>
												<h3 class="mt16"
													style="font-weight:bold;font-size:16px;font-family:'Montserrat', sans-serif">
													Ring Central
												</h3>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Our Odoo Services -->
		<section class="oe_container mb64">
			<div class="row o_equal_col_sm position-relative overflow-hidden" style="margin:0 auto;padding-bottom:0;">
				<img src="div-bg.png" class="img position-absolute w-100 h-100 bg-none"/>
				<div class="container fixed-bottom position-relative" style="display:block; margin:0 auto;">
					<div class="mt32 mb32">
						<div class="col-lg-12 align-items-top d-inline-flex align-items-top px-5">
							<div class="text-left" style="width:100%;">
								<h2 style="letter-spacing:2px;font-weight:900;color:#000;text-transform:uppercase;font-family:'Montserrat', sans-serif">
									Our Odoo Services
								</h2>
								<span class="o_gradient"
									  style="width:150px;height:2px;background-image:linear-gradient(90deg, #e52d27 20%, #b31217 80%)!important;display:inline-block;border-radius:2px;"></span>
							</div>
						</div>
						<div class="col-12 mb32">
							<div class="position-relative">
								<div class="row">
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<img src="customise.png" alt="Odoo Customization" width="120" height="120">
											<h3 class="mt16"
												style="font-weight:bold;font-size:17px;font-family:'Montserrat', sans-serif">
												Odoo Customization
											</h3>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<img src="implementation.png" alt="Odoo Implementation" width="120"
												 height="120">
											<h3 class="mt16"
												style="font-weight:bold;font-size:17px;font-family:'Montserrat', sans-serif">
												Odoo Implementation
											</h3>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<img src="integration.png" alt="Odoo Integration" width="120" height="120">
											<h3 class="mt16"
												style="font-weight:bold;font-size:17px;font-family:'Montserrat', sans-serif">
												Odoo Integration
											</h3>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<img src="support.png" alt="Odoo Support" width="120" height="120">
											<h3 class="mt16"
												style="font-weight:bold;font-size:17px;font-family:'Montserrat', sans-serif">
												Odoo Support
											</h3>
										</div>
									</div>
									<div class="col mb16">
										<div class="text-center pt16 pb16">
											<img src="hire.png" alt="Hire Odoo Developer" width="120" height="120">
											<h3 class="mt16"
												style="font-weight:bold;font-size:17px;font-family:'Montserrat', sans-serif">
												Hire Odoo Developers
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<section class="oe_container mt32 mb-4">
			<div class="row o_equal_col_sm position-relative overflow-hidden shadow"
				 style="margin:0 auto;background-color:#F5F5F5;padding-bottom:0;border-radius:10px;">
				<div class="container fixed-bottom position-relative"
					 style="display:block;margin:0 auto;text-align:center;">
					<div class="row">
						<div class="col-lg-12 align-items-top d-inline-flex align-items-top px-5 mt32 mb32">
							<div class="text-left" style="width:100%;">
								<h2 style="letter-spacing:2px;font-weight:900;color:#000;text-transform:uppercase;font-family:'Montserrat', sans-serif">
									Help And Support
								</h2>
								<span class="o_gradient"
									  style="width:150px;height:2px;background-image:linear-gradient(90deg, #e52d27 20%, #b31217 80%)!important;display:inline-block;border-radius:2px;"></span>
								<div class="row">
									<div class="col-md-4 mt16">
										<a class="s_figure_link"
										   style="font-size:16px;font-weight:bold;padding:8px 16px;display:inline-block;background-color: #C3282D;color:#fff;border-radius:7px;margin:14px 0px;font-family:'Montserrat', sans-serif;"
										   href="mailto:contact@serpentcs.com">
											<i class="fa fa-question-circle" style="padding-right:3px"></i>
											For any Query
										</a>
									</div>
									<div class="col-md-4 mt16 mt16">
										<a class="s_figure_link" style="font-size: 16px;font-weight:bold;padding:8px 16px;display:inline-block;
										background-color: #C3282D;color:#fff;border-radius:7px;margin:14px 0px;font-family:'Montserrat', sans-serif;"
										   href="https://apps.odoo.com/apps/modules/browse?author=Serpent%20Consulting%20Services%20Pvt.%20Ltd."
										   target="_blank">
											<i class="fa fa-eye" style="padding-right:3px"></i>
											Checkout our Apps
										</a>
									</div>
									<div class="col-md-4 mt16 mt16">
										<a class="s_figure_link" style="font-size:16px;font-weight:bold;padding:8px 16px;display:inline-block;
									   background-color: #C3282D;color:#fff;border-radius:7px;margin:14px 0px;font-family:'Montserrat', sans-serif;"
										   href="https://www.youtube.com/channel/UCendM9esn5UiKhgHMO5IS9A/videos"
										   target="_blank">
											<i class="fa fa-youtube-play" style="padding-right:3px"></i>
											Check App Demo
										</a>
									</div>
								</div>
								<div class="col-md-12" style="padding-left:0;">
									<hr style="border-color:gray;"/>
								</div>
								<div class="row">
									<!-- Email Text -->
									<div class="col-md-3 mt8 mb8">
										<p style="color:#555;font-weight:bold;font-size:15px;font-family:'Montserrat', sans-serif;">
											Write a mail to us:</p>
										<a href="mailto:contact@serpentcs.com" class="font-weight-bold text-primary"
										   style="font-size:16px;font-family:'Montserrat', sans-serif;">contact@serpentcs.com</a>
									</div>
									<!-- WhatsApp Number -->
									<div class="col-md-5 mt8 mb8">
										<p style="color: #555;font-weight:bold;font-size:15px;font-family:'Montserrat', sans-serif;">
											Write a text to us on WhatsApp:</p>
										<a href="tel:919879354457" class="font-weight-bold text-primary"
										   style="font-size:16px;font-family:'Montserrat', sans-serif;">(+91)
											98793-54457</a>
										<a href="tel:919033472982" class="font-weight-bold text-primary"
										   style="font-size:16px;font-family:'Montserrat', sans-serif;">(+91)
											90334-72982</a>
									</div>
									<!-- Visit Website -->
									<div class="col-md-4 mt8 mb8">
										<p style="color: #555;font-weight:bold;font-size:15px;font-family:'Montserrat', sans-serif;">
											Visit Our Website:</p>
										<a href="https://www.serpentcs.com/" class="font-weight-bold text-primary"
										   style="font-size:16px;font-family:'Montserrat', sans-serif;">www.serpentcs.com</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
