.ks_api_docs {
	overflow: auto;

	.navbar {
	    padding: 0 1rem;
	    position: relative;
	    height: calc(100vh - 46px);


	}

	.ks_api_docs_standalone {
		.info > .main > .link {
			display: none;
		}
	}

	.ks_swagger_docs_frame {
		.information-container {
			display: none;
		}
	}

}