.ks_restapi_swagger_documents {
 animation: zoom-in-zoom-out 0.6s ease-out;
  button {
    &:focus {
      outline: none !important;
    }

    span {
      border:2px solid #4a5499;
      width: 30px;
      border-radius: 50%;
      align-items: center;
      display: flex;
      font-size: 14px;
      margin-right:10px;
      justify-content: center;
      height: 30px;
      color: #000;
    }
  }
  .modal-content {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-height: 100%;
    border:4px solid #4a5499;

  }

}
 .ks_restapi_swagger_documents.modal.show {
    animation: zoom-in-zoom-out 0.6s ease-out;
    background-color: rgba(98, 119, 193, 0.58);
  }

@media (min-width: 1000px) {
  .ks_restapi_swagger_documents .modal-dialog {
    max-width: 900px;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.o_main_navbar .o_menu_systray li a{
    color:#fff;

}
.o_main_navbar .o_menu_systray {
    list-style:none;
}