.o_account_vn_report_in_line {
	float: left;
}
.o_account_reports_body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.o_account_vn_report_header_left {
	background-color: #fff!important;
	width: 30%;
	min-height: 100px;
	text-align: left;
	h4 {
		font-size: 14px;
		font-weight: 600;
	}
	h6 {
		font-size: 13px;
		font-style: italic;
	}
}
.o_account_vn_report_header_right {
	background-color: #fff!important;
	width: 30%;
	text-align: center;
}
.o_account_vn_report_header_center {
	background-color: #fff!important;
	width: 40%;
	text-align: center;
	h2 {
		font-weight: 600;
		font-size: 20px;
	}
	h5 {
		margin-bottom: 0.5rem;
	    font-family: inherit;
	    font-weight: 400;
	    line-height: 1.2;
	    color: #212529;
	    font-size: 14px;
	}
}
.o_account_vn_report_currency {
	background-color: #fff!important;
	p {
		margin-top: 65px;
	}
}
.text-italic {
    font-style: italic;
}
.text-bold {
    font-weight: bolder;
}
.o_account_vn_report_currency {
	text-align: right;
}
.o_account_vn_report_cell_wrap_text {
	word-wrap: break-word;
}

.o_account_vn_report_border {
	border: 1px solid black;
}
.o_account_vn_report_white_space {
	white-space: normal!important;
}
.report_footer {
	margin-top: -116px;
	padding-bottom: 90px;
}
.position {
	font-weight: 500;
	font-size: 14px;
}
.sign {
	font-size: 13px;
}
.table-bordered th, .table-bordered td { 
	border: 1px solid black !important 
}